.DS_Store
.idea/
data/*
models/*
outputs/simple_intersection/*
results/*
/results copy/
/results copy.zip
/visualization/training_plots/
/.ipynb_checkpoints/
/graphs/
/results_safe_rl_report/
/*.zip
.Rproj.user
.Rhistory
